#randomnumber {
	width: 200px;
	height: 110px;
	font-size: 80px;
	text-align: center;
	margin-left: 300px;
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
}
.pic{
	border: solid;
	border-color: teal;
	margin: 10px;
}

body{
	background-image:url(../images/caveforcrystal.jpg);
	}
/*h1{
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
	margin-left: 250px;
}*/
	

#title{
	margin-left: 250px;
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
	font-family: century gothic;
	font-weight: bold;
}

#instructions{
	margin-left: 310px;
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
	font-family: century gothic;
	font-weight: bold;
}

h2{
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
	margin-left: 250px;
}

#rules{
	width:675px;
	height: 350px;
	margin-left: 95px;
	background-color: white;
	font-size: 25px;
	opacity: 0.5;
	padding:10px;
	font-family: fantasy;
	border-radius: 25px;
	color: black;
	font-weight: bold;
	line-height: 30px
}

#pics{
	margin-left: 75px;
}

#addpoints{
	width: 200px;
	height: 80px;
	font-size: 60px;
	text-align: center;
	margin-left: 300px;
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
}