#randomnumber {
	width: 200px;
	height: 150px;
	font-size: 80px;
	text-align: center;
	padding: 10px;
	margin-left: 250px;
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
}
.pic{
	border: solid;
	border-color: teal;
	margin: 10px;
}

body{
	background-image:url(../images/caveforcrystal.jpg);
	}
h1{
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
	margin-left: 250px;
}

#title{
	margin-left: 250px;
}

h2{
	text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF, 0 0 3px #FFFFFF;
	margin-left: 250px;
}
